/* Obrazy są z ze strony pixabay na licencji Pixabay License */
/* RWD miało być z bootstrapem, ale psuje zdjęcie w tle, nie mam pojęcia dlaczego. Użyję przez to media queries. */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Saira Condensed', 'Arial', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrap {
    max-width: 1920px;
    position: relative;
}

/* header */

nav.icons {
    width: 100%;
    text-align: center;
}

i.hamburger {
    display: none;
}

nav.icons ul li {
    float: left;
    list-style: none;
    width: auto;
    padding: 0 40px;
    border-right: 1px solid white;
}

nav.icons ul li:last-child {
    border-right: none;
}

nav.icons {
    background-color: #000000e3;
}

nav.icons ul {
    text-align: center;
    margin-left: 25%;
}

nav.icons ul::after {
    content: "";
    display: block;
    clear: both;
}

nav.icons ul li a {
    display: block;
    line-height: 7vh;
    font-size: 24px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    font-weight: bold;
    padding: 5px 0;
}

nav.icons ul li i {
    padding-right: 9px;
    font-size: 24px;
}

nav.icons ul li a:hover {
    color: royalblue;
}


/* main */
/*witam*/
div.bg {
    height: 100vh;
    background-image: url(../img/beverage-3157395_1280.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.intro .text {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* position: relative; */
    color: white;
    font-family: 'Saira Condensed', 'Arial', sans-serif;
}

.text h1 {
    font-size: 130px;
    text-align: center;
    padding-top: 35px;
    text-shadow: 0px 1px 20px black;
    font-weight: bold;
}

.opis {
    /* position: absolute; */
    text-align: center;
    /* left: 170px;
    top: 230px; */
    font-size: 50px;
    padding-top: 50px;
    text-shadow: 0px 1px 20px black;
    font-weight: 700;
}


/*O mnie*/
.about {
    margin-top: 70px;
    /* height: 350px; */
}

.about h1 {
    font-size: 60px;
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.bio {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ble p {
    position: absolute;
    right: 80px;
    margin: 30px 50px 0 50px;
    left: 50vw;
    font-size: 24px;
}

img.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.info {
    margin-left: 60px;
    margin-top: 20px;
    border-right: 6px dotted royalblue;
    padding-right: 80px;
}

.info p {
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

span.cute {
    color: royalblue;
    padding-left: 5px;
}

/*Moje zainteresowania*/
#hobbies {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 150px;
}

#hobbies h1 {
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

#hobbies .flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container .hobby {
    height: 40vh;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
}

.flex-container .hobby:nth-of-type(1) {
    background-image: url(../img/birthday-3016615_1280.jpg);
}

.flex-container .hobby:nth-of-type(2) {
    background-image: url(../img/walk.jpg);
}

.flex-container .hobby:nth-of-type(3) {
    background-image: url(../img/write-593333_1280.jpg);
}

.flex-container .hobby:nth-of-type(4) {
    background-image: url(../img/automotive-1866521_1280.jpg);
}

.hobby p {
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    font-size: 50px;
    padding: 0;
    text-align: center;
    transition: 0.7s;
    cursor: default;
    opacity: 0;
    line-height: 40vh;
    text-shadow: 0 0 4px black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hobby:hover p {
    opacity: 1;
}

div.formularz {
    margin: 0 auto;
    max-width: 1024px;
    padding-top: 40px;
}

.formularz form {
    display: flex;
    flex-direction: column;
}

section.contact {
    padding-top: 80px;
    background-color: black;
    padding: 30px 10px;
    padding-bottom: 80px;
}

.contact h1 {
    padding-top: 50px;
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.contact input,
.contact button {
    width: 450px;
    height: 50px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 5px;
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    background-color: #fff;
}

.contact button {
    font-weight: bold;
    border: none;
    font-size: 28px;
    letter-spacing: 1px;
    word-spacing: 2px;
    transition: 0.2s;
}

.contact textarea {
    width: 450px;
    height: 250px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 5px;
    font-family: 'Saira Condensed', 'Arial', sans-serif;
}

.contact button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.socials {
    color: white;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
}

.socials i {
    font-size: 40px;
}

.socials p {
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    transition: 0.2s;
}

.socials p:hover {
    color: royalblue;
    cursor: pointer;
}

.socials span {
    margin-left: 20px;
}

footer {
    background-color: royalblue;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

/* RWD */

@media (orientation: portrait) and (max-width: 360px) {


    section.intro {
        margin-top: -20px;
    }

    p.first {
        display: none;
    }

    header {
        display: none;
    }

    .bg h1 {
        margin-top: 30px;
    }

    #hobbies .flex-container {
        display: block;
    }

    .flex-container .hobby {
        width: 360px;
    }

    img.avatar {
        margin-right: auto;
        margin-left: auto;
    }

    .ble p {
        display: none;
    }

    .info {
        margin-top: 20px;
        width: 100%;
        border: none;
        font-size: 25px;
        padding-right: 0;
        margin-left: 0;
    }

    .info p {
        width: auto;
        margin-left: 100px;
        margin-right: auto;
        margin-bottom: 25px;
    }


    .info p:last-of-type {
        margin-bottom: 0;
    }

    span.cute {
        display: block;
        padding-left: 0;
    }

    #hobbies {
        margin-top: 75px;
    }

    .hobby p {
        font-size: 30px;
        text-align: center;
        opacity: 1;
        line-height: 50px;
        text-shadow: 0 0 4px black;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .contact textarea,
    .contact button,
    .contact input {
        width: 220px;
        font-size: 20px;
    }

    .formularz i {
        display: none;
    }

    .socials {
        font-size: 20px;
    }

}

@media (orientation:landscape) and (max-width: 640px) {

    div.wrap {
        max-width: 640px;
    }

    nav.icons {
        display: none;
    }

    p.first {
        display: none;
    }


    img.avatar {
        margin-right: auto;
        margin-left: auto;
    }

    .info {
        border: none;
    }

    #hobbies {
        margin-top: 40px;
    }

}


@media (orientation:portrait) and (max-width: 411px) {
    nav.icons {
        display: none;
    }

    .info {
        border: none;
    }

    .ble p {
        display: none;
    }

    #hobbies {
        margin-top: 50px;
    }

    .opis p {
        font-size: 40px;
        padding: 0 10px;
    }

    #hobbies .flex-container {
        display: block;
    }

    .flex-container .hobby {
        width: 411px;
    }

    .hobby p {
        font-size: 35px;
        text-align: center;
        opacity: 1;
        line-height: 55px;
        text-shadow: 0 0 4px black;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .contact textarea,
    .contact button,
    .contact input {
        width: 280px;
        font-size: 25px;
    }

    .formularz i {
        display: none;
    }

    .socials {
        font-size: 25px;
    }

}


@media (orientation: landscape) and (max-width: 731px) {

    nav.icons {
        display: none;
    }

    .ble p {
        display: none;
    }

    p.first {
        display: none;
    }

    div.wrap {
        max-width: 731px;
    }

    .intro p {
        font-size: 40px;
        padding: 0 40px;
    }

    img.avatar {
        margin-right: auto;
        margin-left: auto;
    }

    .info {
        border: none;
    }

    #hobbies {
        margin-top: 40px;
    }

}

@media (orientation: landscape) and (max-width: 823px) {
    nav.icons {
        display: none;
    }

    .ble p {
        display: none;
    }
}


@media (orientation:landscape) and (max-width: 1300px) {
    .ble p {
        display: none;
    }
}