/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Saira Condensed', 'Arial', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrap {
    max-width: 1920px;
}

/* header */
nav.icons ul li {
    float: left;
    list-style: none;
    width: auto;
    padding: 0 20px;
    border-right: 1px solid white;
}

nav.icons ul li:last-child {
    border-right: none;
}

nav.icons {
    background-color: #000000e0;
}

nav.icons ul {
    text-align: center;
    margin-left: 25%;
}

nav.icons ul::after {
    content: "";
    display: block;
    clear: both;
}

nav.icons ul li a {
    display: block;
    line-height: 7vh;
    font-size: 16px;
    color: #bbb;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

nav.icons ul li i {
    padding-right: 9px;
    font-size: 24px;
    vertical-align: -2px;
}

nav.icons ul li:first-of-type i {
    font-size: 30px;
    vertical-align: -4px;
}

nav.icons ul li a:hover {
    color: rgb(255, 255, 255);
}

/* main */
/*witam*/
div.bg {
    height: 85vh;
    background-image: url(../img/beverage-3157395_1280.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    color: white;
    font-family: 'Saira Condensed', 'Arial', sans-serif;
}

.text h1 {
    font-size: 130px;
    text-align: center;
    padding-top: 35px;
    text-shadow: 0px 1px 20px black;
}

.text hr {
    width: 400px;
    margin: 0 auto;
    margin-top: -17px;
    border: solid white 3px;
}

.opis {
    position: absolute;
    text-align: center;
    left: 170px;
    top: 230px;
    font-size: 45px;
    padding-top: 35px;
    text-shadow: 0px 1px 20px black;
}

/*O mnie*/
.about {
    margin-top: 30px;
}

.about h1 {
    font-size: 50px;
    font-family: 'Saira Condensed', 'Arial', sans-serif;
}

.bio {
    position: relative;
}
















/*Moje zainteresowania*/
#hobbies {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 50px;
}

#hobbies h1 {
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

#hobbies .flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container .hobby {
    height: 40vh;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
}

.flex-container .hobby:nth-of-type(1) {
    background-image: url(../img/birthday-3016615_1280.jpg);
}

.flex-container .hobby:nth-of-type(2) {
    background-image: url(../img/walk.jpg);
}

.flex-container .hobby:nth-of-type(3) {
    background-image: url(../img/write-593333_1280.jpg);
}

.flex-container .hobby:nth-of-type(4) {
    background-image: url(../img/automotive-1866521_1280.jpg);
}

.hobby p {
    font-family: 'Saira Condensed', 'Arial', sans-serif;
    font-size: 50px;
    padding: 0;
    text-align: center;
    transition: 1s;
    cursor: default;
    opacity: 0;
    line-height: 40vh;
    text-shadow: 0 0 4px black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hobby:hover p {
    opacity: 1;
}